<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/sellerProfile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,700;8..144,800;8..144,900&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Skypro profile-sell</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                <nav class="header__nav">
                    <div class="header__logo logo-mob">
                        <a class="logo-mob__link" href="" target="_blank">
                            <img class="logo-mob__img" src="img/logo-mob.png" alt="logo">
                        </a>
                    </div>
                    <button class="header__btn-putAd btn-hov01" id="btputAd">Разместить объявление</button>
                    <button class="header__btn-lk btn-hov01" id="btnlk">Личный кабинет</button>
                </nav>
            </header>

            <main class="main">
                
                <div class="main__container">
                    <div class="main__center-block">
                        <div class="main__menu menu">
                            <a class="menu__logo-link" href="" target="_blank">
                                <img class="menu__logo-img" src="img/logo.png" alt="logo">
                            </a>
                            <form class="menu__form" action="#">
                                <button class="menu__btn btn-hov02" id="btnGoBack">Вернуться на&nbsp;главную</button>
                            </form>
                        
                        </div>
                        
                        <h2 class="main__h2">Профиль продавца</h2>
                        
                        <div class="main__profile-sell profile-sell">
                            <div class="profile-sell__content">
                        
                                <div class="profile-sell__seller seller">
                                    <div class="seller__left">
                                        <div class="seller__img">
                                            <a href="" target="_self">
                                                <img src="#" alt="">
                                            </a>
                        
                                        </div>
                                    </div>
                                    <div class="seller__right">
                                        <h3 class="seller__title">Кирилл Матвеев</h3>
                                        <p class="seller__city">Санкт-Петербург</p>
                                        <p class="seller__inf">Продает товары с августа 2021</p>
                        
                                        <div class="seller__img-mob-block">
                                            <div class="seller__img-mob">
                                                <a href="" target="_self">
                                                    <img src="#" alt="">
                                                </a>
                                            </div>
                                        </div>
                        
                                        <button class="seller__btn btn-hov02">Показать&nbsp;телефон
                                            <span>8&nbsp;905&nbsp;ХХХ&nbsp;ХХ&nbsp;ХХ</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <h3 class="main__title ">
                            Товары продавца
                        </h3>
                    </div>
                    <div class="main__content">
                        
                        <div class="content__cards cards">                            

                            <div class="cards__item">
                                <div class="cards__card card">
                                    <div class="card__image">
                                        <a href="" target="_blank">
                                            <img src="#" alt="picture">
                                        </a>
                                    </div>
                                    <div class="card__content">
                                        <a href="" target="_blank">
                                            <h3 class="card__title">Ракетка для большого тенниса Triumph Pro ST</h3>
                                        </a>
                                        <p class="card__price">2&nbsp;200&nbsp;₽</p>
                                        <p class="card__place">Санкт Петербург</p>
                                        <p class="card__date">Сегодня в&nbsp;10:45</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cards__item">
                                <div class="cards__card card">
                                    <div class="card__image">
                                        <a href="" target="_blank">
                                            <img src="#" alt="picture">
                                        </a>
                                    </div>
                                    <div class="card__content">
                                        <a href="" target="_blank">
                                            <h3 class="card__title">Ракетка для большого тенниса Triumph Pro ST</h3>
                                        </a>
                                        <p class="card__price">2&nbsp;200&nbsp;₽</p>
                                        <p class="card__place">Санкт Петербург</p>
                                        <p class="card__date">Сегодня в&nbsp;10:45</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cards__item">
                                <div class="cards__card card">
                                    <div class="card__image">
                                        <a href="" target="_blank">
                                            <img src="#" alt="picture">
                                        </a>
                                    </div>
                                    <div class="card__content">
                                        <a href="" target="_blank">
                                            <h3 class="card__title">Ракетка для большого тенниса Triumph Pro ST</h3>
                                        </a>
                                        <p class="card__price">2&nbsp;200&nbsp;₽</p>
                                        <p class="card__place">Санкт Петербург</p>
                                        <p class="card__date">Сегодня в&nbsp;10:45</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cards__item">
                                <div class="cards__card card">
                                    <div class="card__image">
                                        <a href="" target="_blank">
                                            <img src="#" alt="picture">
                                        </a>
                                    </div>
                                    <div class="card__content">
                                        <a href="" target="_blank">
                                            <h3 class="card__title">Ракетка для большого тенниса Triumph Pro ST</h3>
                                        </a>
                                        <p class="card__price">2&nbsp;200&nbsp;₽</p>
                                        <p class="card__place">Санкт Петербург</p>
                                        <p class="card__date">Сегодня в&nbsp;10:45</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cards__item">
                                <div class="cards__card card">
                                    <div class="card__image">
                                        <a href="" target="_blank">
                                            <img src="#" alt="picture">
                                        </a>
                                    </div>
                                    <div class="card__content">
                                        <a href="" target="_blank">
                                            <h3 class="card__title">Ракетка для большого тенниса Triumph Pro ST</h3>
                                        </a>
                                        <p class="card__price">2&nbsp;200&nbsp;₽</p>
                                        <p class="card__place">Санкт Петербург</p>
                                        <p class="card__date">Сегодня в&nbsp;10:45</p>
                                    </div>
                                </div>
                            </div>

                            <div class="cards__item">
                                <div class="cards__card card">
                                    <div class="card__image">
                                        <a href="" target="_blank">
                                            <img src="#" alt="picture">
                                        </a>
                                    </div>
                                    <div class="card__content">
                                        <a href="" target="_blank">
                                            <h3 class="card__title">Ракетка для большого тенниса Triumph Pro ST</h3>
                                        </a>
                                        <p class="card__price">2&nbsp;200&nbsp;₽</p>
                                        <p class="card__place">Санкт Петербург</p>
                                        <p class="card__date">Сегодня в&nbsp;10:45</p>
                                    </div>
                                </div>
                            </div>                 


                        </div>                        
                    </div>
                    
                </div>
                
            </main>
            
            <footer class="footer">
                <div class="footer__container">
                    <div class="footer__img">
                        <a href="" target="_self">
                            <img src="img/icon_01.png" alt="home">
                        </a>                        
                    </div>
                    <div class="footer__img">
                        <a href="" target="_self">
                            <img src="img/icon_02.png" alt="home">
                        </a>
                    </div>
                    <div class="footer__img">
                        <a href="" target="_self">
                            <img src="img/icon_03.png" alt="home">
                        </a>
                    </div>
                </div>
                
            </footer>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>