* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    font-family: 'StratosSkyeng', sans-serif;
    cursor: pointer;
}

button,
._btn {
    cursor: pointer;
}

ul li {
    list-style: none;
}



//-------------------------------//

// ========== fonts ========
@font-face {
    font-family: 'StratosSkyeng';
    src: local('StratosSkyeng'), local('StratosSkyeng'),
        url('../fonts/StratosSkyeng.woff2') format('woff2'),
        url('../fonts/StratosSkyeng.woff') format('woff'),
        url('../fonts/StratosSkyeng.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

//--------------------------

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

div,
button,
a {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container-bg {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #F4F5F6;
}

// ========== hover ========

.modal {
    &__btn-close-line:hover {
        &::after,
        &::before {
            background-color: #0080C1;
        }
    }

}

.modal__title {
    &:hover::before {
        border-top: 2px solid #0080C1;
        border-left: 2px solid #0080C1;
    }
}

.btn-hov02:hover {
    background-color: #0080C1;
}


// ========== activ ========


//=============================

.modal {

    &__block {
        position: absolute;
        z-index: 5;
        left: calc(50% - (600px/2));
        top: 60px;
        opacity: 1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 600px;
        height: auto;
        padding: 32px 50px 42px;
        background-color: #FFFFFF;
        border-radius: 12px;
        position: relative;
    }

    &__title {
        font-size: 32px;
        line-height: 46px;
        font-weight: 500;
        color: #000000;
    }

        &__btn-close {
            width: 23px;
            height: 23px;
            position: absolute;
            top: 47px;
            right: 50px;
            z-index: 3;
            cursor: pointer;
    
        }
    
        &__btn-close-line {
            position: relative;
            width: 100%;
            height: 100%;
    
            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 2px;
                border-radius: 2px;
                background-color: #D9D9D9;
                top: 47%;
                right: -4px;
    
            }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__form-newArt {
        margin-top: 22px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}


.form-newArt {

    &__block {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    & label {
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    &__input,
    &__area,
    &__input-price {
        padding: 13px 19px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        font-size: 16px;
        line-height: 1;
    }

    &__input {
        width: 100%;
        font-size: 16px;
        line-height: 24px;

        &::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #0000004D;
            ;
        }
    }

    &__area {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        max-height: 200px;
        font-size: 16px;
        line-height: 24px;

        &::placeholder {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #0000004D;
        }
    }

    &__p {
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 10px;

        & span {
            margin-left: 10px;
            color: rgba(0, 0, 0, 0.3);
        }
    }

    &__bar-img {
        width: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        overflow: hidden;
    }

    &__img-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #F0F0F0;
        z-index: -1;

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            border-radius: 2px;
            background-color: #D9D9D9;
            top: 50%;
            right: calc(50% - (30px/2));

        }

        &::before {
            transform: rotate(90deg);
        }

    }

    &__img {
        width: 90px;
        height: 90px;
        margin-right: 10px;
        position: relative;
        z-index: 0;

        & img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            z-index: 2;
        }
    }

    &__input-price-cover{
        width: 24px;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        position: absolute;
        bottom: 13px;
        left: 170px;
        z-index: 0;
        background-color: #FFFFFF;
            
        &::after {
                content: "\A0 \20BD";
                width: 24px;
                height: 24px;
                position: absolute;
                
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                z-index: 2;
            }
        
    }
    &__input-price {
        width: 200px;
        font-size: 16px;
        line-height: 24px;
        color: #000000;        

        &::placeholder {
            text-align: end;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            
        }
    }

    &__btn-pub {
        margin-top: 10px;
        width: 181px;
        height: 50px;
        background: #D9D9D9;
        border: 1px solid #D9D9D9;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
}

.block-price{
    position: relative;
}


// ==================== media ==================

@media screen and (max-width: 600px) {

    
.modal {

    &__block {
            position: absolute;
            z-index: 5;
            left: 0px;
            top: 55px;
            opacity: 1;
        }
   
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        min-width: 320px;
        height: auto;
        padding: 30px 20px 30px;
        
    }

    &__title {
        font-size: 24px;
        line-height: 29px;
        padding: 0 0 0 26px;
        position: relative;
        
            &::before {
                content: "";
                display: block;
                width: 12px;
                height: 12px;
                background-color: transparent;
                border-top: 2px solid #000000;
                border-left: 2px solid #000000;
                transform: rotate(-45deg);
                position: absolute;
                top: 9px;
                left: 0;
                cursor: pointer;
            }
    }

    &__btn-close {
       display: none;

     
    }

    &__form-newArt {
        margin-top: 22px;
    
    }


}

.form-newArt {

    &__block {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
    }

    & label {
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }

    &__input,
    &__area,
    &__input-price {
        padding: 9px 17px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        font-size: 16px;
        line-height: 1;
    }

    &__input {
        width: 100%;

        &::placeholder {
            font-size: 14px;
            line-height: 21px;
            color: #C4C4C4;
        }
    }

    &__area {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        max-height: 107px;

        &::placeholder {
            font-size: 14px;
            line-height: 21px;
            color: #C4C4C4;
        }
    }

    &__p {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 10px;

        & span {
            display: block;
            margin-left: 0px;
            color: rgba(0, 0, 0, 0.3);
        }
    }

    &__bar-img {
        width: 278px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;        
        margin: 0px -5px 10px;
        overflow: hidden;
    }

    &__img {
        display: block;
        width: 90px;
        min-width: 90px;
        height: 90px;
        background-color: #F0F0F0;
        margin: 0 5px;

        & img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

        &__input-price-cover {
            width: 21px;
            height: 21px;
            font-size: 14px;
            line-height: 21px;
            bottom: 9px;
            left: auto;
            right: 18px;
    
            &::after {
    
                font-size: 14px;
                line-height: 21px;
    
            }
    
        }

    &__input-price {
        width: 100%;

        &::placeholder {
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
    }

    &__btn-pub {
        margin-top: 10px;
        width: 100%;
        height: 46px;
    }
}


}