* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: 'StratosSkyeng', sans-serif;
  cursor: pointer;
}

button,
._btn {
  cursor: pointer;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: 'StratosSkyeng';
  src: local("StratosSkyeng"), local("StratosSkyeng"), url("../fonts/StratosSkyeng.woff2") format("woff2"), url("../fonts/StratosSkyeng.woff") format("woff"), url("../fonts/StratosSkyeng.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

div,
button,
a {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container-bg {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #F4F5F6;
}

.modal__btn-close-line:hover::after, .modal__btn-close-line:hover::before {
  background-color: #0080C1;
}

.modal__title:hover::before {
  border-top: 2px solid #0080C1;
  border-left: 2px solid #0080C1;
}

.btn-hov02:hover {
  background-color: #0080C1;
}

.modal__block {
  position: absolute;
  z-index: 5;
  left: calc(50% - (600px/2));
  top: 60px;
  opacity: 1;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 600px;
  height: auto;
  padding: 32px 50px 42px;
  background-color: #FFFFFF;
  border-radius: 12px;
  position: relative;
}

.modal__title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 500;
  color: #000000;
}

.modal__btn-close {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 47px;
  right: 50px;
  z-index: 3;
  cursor: pointer;
}

.modal__btn-close-line {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal__btn-close-line::after, .modal__btn-close-line::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #D9D9D9;
  top: 47%;
  right: -4px;
}

.modal__btn-close-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__btn-close-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__form-newArt {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form-newArt__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form-newArt label {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.form-newArt__input, .form-newArt__area, .form-newArt__input-price {
  padding: 13px 19px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
}

.form-newArt__input {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.form-newArt__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004D;
}

.form-newArt__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004D;
}

.form-newArt__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004D;
}

.form-newArt__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004D;
}

.form-newArt__area {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-height: 200px;
  font-size: 16px;
  line-height: 24px;
}

.form-newArt__area::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004D;
}

.form-newArt__area:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004D;
}

.form-newArt__area::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004D;
}

.form-newArt__area::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004D;
}

.form-newArt__p {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.form-newArt__p span {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.3);
}

.form-newArt__bar-img {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}

.form-newArt__img-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F0F0F0;
  z-index: -1;
}

.form-newArt__img-cover::after, .form-newArt__img-cover::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #D9D9D9;
  top: 50%;
  right: calc(50% - (30px/2));
}

.form-newArt__img-cover::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.form-newArt__img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  position: relative;
  z-index: 0;
}

.form-newArt__img img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.form-newArt__input-price-cover {
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: absolute;
  bottom: 13px;
  left: 170px;
  z-index: 0;
  background-color: #FFFFFF;
}

.form-newArt__input-price-cover::after {
  content: "\A0 \20BD";
  width: 24px;
  height: 24px;
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  z-index: 2;
}

.form-newArt__input-price {
  width: 200px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.form-newArt__input-price::-webkit-input-placeholder {
  text-align: end;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.form-newArt__input-price:-ms-input-placeholder {
  text-align: end;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.form-newArt__input-price::-ms-input-placeholder {
  text-align: end;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.form-newArt__input-price::placeholder {
  text-align: end;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.form-newArt__btn-pub {
  margin-top: 10px;
  width: 141px;
  height: 50px;
  background: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.block-price {
  position: relative;
}

@media screen and (max-width: 600px) {
  .modal__block {
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 55px;
    opacity: 1;
  }
  .modal__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 30px 20px 30px;
  }
  .modal__title {
    font-size: 24px;
    line-height: 29px;
    padding: 0 0 0 26px;
    position: relative;
  }
  .modal__title::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    left: 0;
    cursor: pointer;
  }
  .modal__btn-close {
    display: none;
  }
  .modal__form-newArt {
    margin-top: 22px;
  }
  .form-newArt__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 18px;
  }
  .form-newArt label {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  .form-newArt__input, .form-newArt__area, .form-newArt__input-price {
    padding: 9px 17px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-size: 16px;
    line-height: 1;
  }
  .form-newArt__input {
    width: 100%;
  }
  .form-newArt__input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
  }
  .form-newArt__input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
  }
  .form-newArt__input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
  }
  .form-newArt__input::placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
  }
  .form-newArt__area {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-height: 107px;
  }
  .form-newArt__area::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
  }
  .form-newArt__area:-ms-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
  }
  .form-newArt__area::-ms-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
  }
  .form-newArt__area::placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
  }
  .form-newArt__p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  .form-newArt__p span {
    display: block;
    margin-left: 0px;
    color: rgba(0, 0, 0, 0.3);
  }
  .form-newArt__bar-img {
    width: 278px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0px -5px 10px;
    overflow: hidden;
  }
  .form-newArt__img {
    display: block;
    width: 90px;
    min-width: 90px;
    height: 90px;
    background-color: #F0F0F0;
    margin: 0 5px;
  }
  .form-newArt__img img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .form-newArt__input-price-cover {
    width: 21px;
    height: 21px;
    font-size: 14px;
    line-height: 21px;
    bottom: 9px;
    left: auto;
    right: 18px;
  }
  .form-newArt__input-price-cover::after {
    font-size: 14px;
    line-height: 21px;
  }
  .form-newArt__input-price {
    width: 100%;
  }
  .form-newArt__input-price::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  .form-newArt__input-price:-ms-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  .form-newArt__input-price::-ms-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  .form-newArt__input-price::placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  .form-newArt__btn-pub {
    margin-top: 10px;
    width: 100%;
    height: 46px;
  }
}
