* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: 'StratosSkyeng', sans-serif;
  cursor: pointer;
}

button,
._btn {
  cursor: pointer;
}

ul li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

div,
button,
a {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.article__img-bar-div:hover {
  border: 2px solid #009EE4;
}

.circle-active {
  background-color: #FFFFFF;
}

.img-bar-mob__circle:active {
  background-color: #FFFFFF;
}

.btn-hov01:hover {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
}

.btn-hov02:hover {
  background-color: #0080C1;
}

.article__fill-img:hover::before {
  border-top: 2px solid #0080C1;
  border-left: 2px solid #0080C1;
}

.header {
  background-color: #009EE4;
}

.header__nav {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0 10px;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__btn-lk {
  width: 173px;
  height: 40px;
  margin-left: 10px;
}

.header__btn-putAd {
  width: 232px;
  height: 40px;
}

.header__btn-lk, .header__btn-putAd {
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1;
}

.header__logo {
  display: none;
}

.main {
  margin: 0 auto;
}

.main__container {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0px 5px;
}

.main__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 0;
  padding: 43px 5px 77px;
}

.main__artic {
  max-width: 1178px;
  padding: 0 0 70px;
  margin: 0 auto;
  padding: 0 5px 70px;
}

.main__title {
  margin-bottom: 32px;
  padding: 0 5px;
}

.main__text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.main__content {
  max-width: 792px;
  width: 100%;
  padding: 0 5px 117px;
}

.menu__logo-link {
  width: 54;
  height: 50px;
}

.menu__logo-img {
  width: 54px;
  height: auto;
}

.menu__form {
  margin-left: 60px;
  max-width: 1044px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__btn-serch {
  width: 241px;
  height: 50px;
  background-color: #009EE4;
  border: 1px solid #009EE4;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 500;
  color: #000000;
}

.artic__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article__left {
  max-width: 480px;
  margin-right: 54px;
}

.article__fill-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__img {
  width: 480px;
  height: 480px;
  background-color: #F0F0F0;
  margin: 0 5px;
}

.article__img img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__img-bar-mob {
  display: none;
}

.article__img-bar {
  margin-top: 30px;
  width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow: hidden;
  margin-left: -5px;
}

.article__img-bar-div {
  width: 88px;
  min-width: 88px;
  height: 88px;
  background-color: #F0F0F0;
  border: 2px solid #F0F0F0;
  margin: 0 5px;
}

.article__img-bar-div img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__right {
  max-width: 621px;
}

.article__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__title {
  margin-bottom: 10px;
}

.article__info {
  margin-bottom: 34px;
}

.article__date, .article__city {
  font-size: 16px;
  line-height: 21px;
  color: #5F5F5F;
  margin-bottom: 4px;
}

.article__link {
  font-size: 16px;
  line-height: 21px;
  color: #009EE4;
}

.article__price {
  font-size: 28px;
  line-height: 39px;
  font-weight: 700;
  margin-bottom: 20px;
}

.article__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article__btn {
  background-color: #009EE4;
  border-radius: 6px;
  border: 1px solid #009EE4;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.article__author {
  margin-top: 24px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.btn-redact {
  width: 189px;
  margin-right: 10px;
}

.btn-remove {
  width: 225px;
}

.author__img {
  width: 40px;
  height: 40px;
  background-color: #F0F0F0;
  border-radius: 50%;
}

.author__img img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.author__cont {
  margin-left: 12px;
}

.author__name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #009EE4;
}

.author__about {
  font-size: 16px;
  line-height: 32px;
  color: #5F5F5F;
}

.footer {
  display: none;
}

@media screen and (max-width: 966px) {
  .article__left {
    margin-right: 20px;
  }
  .btn-redact {
    width: 225px;
    margin-right: 0;
  }
  .btn-remove {
    width: 225px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    min-width: 320px;
    padding: 0 0px;
  }
  .header {
    padding: 0 20px;
    width: 100%;
    height: 55px;
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    padding: 0 20px;
  }
  .header__nav {
    height: 55px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
  }
  .header__btn-lk, .header__btn-putAd {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .logo-mob__link {
    display: block;
    width: 32px;
    height: 32px;
  }
  .logo-mob__img {
    width: 32px;
    height: auto;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__container {
    padding: 0 20px 0;
  }
  .main__menu {
    display: none;
  }
  .main__artic {
    max-width: 1178px;
    width: 100%;
    padding: 55px 0 0px;
    margin: 0 auto;
  }
  .main__title {
    margin-bottom: 14px;
    padding: 0;
  }
  .main__content {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 84px;
  }
  .title {
    font-size: 18px;
    line-height: 1;
  }
  .artic__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .article__left {
    max-width: 100%;
    width: 100%;
    min-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .article__fill-img {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .article__fill-img::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    top: 24px;
    left: 32px;
    cursor: pointer;
  }
  .article__img {
    width: 100%;
    min-width: 320px;
    height: auto;
    min-height: 320px;
    margin: 0 0px;
  }
  .article__img-bar {
    display: none;
  }
  .article__img-bar-mob {
    display: block;
    width: 68px;
    height: 8px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - (68px/2));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .article__right {
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
  }
  .article__title {
    margin-bottom: 10px;
  }
  .article__info {
    margin-bottom: 20px;
  }
  .article__date, .article__city {
    font-size: 14px;
    line-height: 17px;
    color: #5F5F5F;
    margin-bottom: 4px;
  }
  .article__link {
    font-size: 14px;
    line-height: 19px;
    color: #009EE4;
  }
  .article__price {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .article__btn {
    width: 100%;
    height: 57px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .article__btn span {
    font-size: 12px;
  }
  .article__author {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .img-bar-mob__circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
  }
  .author__name {
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
  }
  .author__about {
    font-size: 14px;
    line-height: 28px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 54px;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  }
  .footer__container {
    width: 225px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__img {
    width: 42px;
    height: 42px;
  }
  .footer__img img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
