* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    font-family: 'StratosSkyeng', sans-serif;
    cursor: pointer;
}

button,
._btn {
    cursor: pointer;
}

ul li {
    list-style: none;
}



//-------------------------------//

// ========== fonts ========

//--------------------------

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #000000;

}

div,
button,
a {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;    
    min-height: 100%;
    overflow: hidden;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    width: 100%;        
    margin: 0 auto;    
    background-color: #FFFFFF;    
}

// ========== hover ========

.btn-hov01:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
}

.btn-hov02:hover {
    background-color: #0080C1;
}

.main__h2 {
    &:hover::before {
        border-top: 2px solid #0080C1;
        border-left: 2px solid #0080C1;
    }
}

// ========== activ ========





// =================== header ====================//
.header {

    background-color: #009EE4;

    &__nav {
        max-width: 1178px;
        margin: 0 auto;
        padding: 0 10px;
        height: 79px;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    &__btn-lk {
        width: 173px;
        height: 40px;
        margin-left: 10px;
    }

    &__btn-putAd {
        width: 232px;
        height: 40px;
    }

    &__btn-lk,
    &__btn-putAd {
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 1;
    }

    &__logo {
        display: none;
    }
}




// =================== main ====================//
.main {

    &__container {
        max-width: 1178px;
        margin: 0 auto;
        padding: 0px 10px 79px;
    }
    &__center-block{
        margin: 0 auto;
    }
    &__menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 11px 0;        
        width: 100%;        
        padding: 31px 10px 64px;
    }


    &__h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 42px;
        color: #000000;
        margin-bottom: 30px;
    }
    &__profile-sell {
        width: 100%;
        padding: 0 0 70px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;
        color: #000000;
    }
    &__content {
        width: 100%;
        margin: 0 auto;
    }


}
.menu {

    &__logo-link {
        width: 54;
        height: 50px;
    }
    &__logo-img {
        width: 54px;
        height: auto;
    }

    &__form {
        margin-left: 60px;        
        max-width: 1044px;
        width: 100%;        
    } 

    &__btn {        
        width: 241px;
        height: 50px;
        background-color: #009EE4;
        border: 1px solid #009EE4;
        border-radius: 6px;
        font-size: 16px;
        line-height: 1;
        color: #FFFFFF;
    }
}


// ================== profile-sell ====================================


.profile-sell {

    &__content {
        width: 100%;
        
    }

    &__title {       
        margin-bottom: 10px;
    }

    &__seller {
        display: flex;        
        align-items: top;
        justify-content: start;
    }
}

.seller {

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
    }

    &__img-mob-block {
        display: none;
    }

    &__img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background-color: #F0F0F0;

        & img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }

   

    &__right {
        width: auto;
    }

        &__title {
            font-size: 20px;
            font-weight: 600;
            line-height: 40px;
            color: #000000;
            margin-bottom: 0px;
        }
    
    
    
        &__inf,
        &__city {
            font-size: 16px;
            line-height: 21px;
            color: #5F5F5F;
            margin-bottom: 10px;
        }
    
    
        &__btn {
            margin-top: 20px;
            background-color: #009EE4;
            border-radius: 6px;
            border: 1px solid #009EE4;
            width: 214px;
            height: 62px;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
    
            & span {
                display: block;
                font-size: 14px;
                font-weight: 400;
            }

        }
    
}

// ================== Карточки ====================================



.cards {
    max-width: 1158px;
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-auto-rows: 441px;
    grid-gap: 40px 26px;
    justify-content: center;
    
    
    overflow-y: auto;
    scrollbar-color: #FFFFFF #2E2E2E; // Firefox
    scrollbar-width: thin; // Firefox
    scrollbar-width: 0px; // Firefox
    height: 441px;
    

    &::-webkit-scrollbar {
        width: 0px;
        background-color: #009EE4;

    }

    &::-webkit-scrollbar-thumb {
        background-color: #0080C1;
        border-radius: 3px;
    }


}


.cards {

    &__item {
        margin: 0;            
    }

    &__card {
        width: 270px;
        height: 441px;        
        display: flex;
        flex-direction: column;

    }

}

.card {

    &__image {
        width: 270px;
        height: 270px;
        background-color: #F0F0F0;

        & img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;            
        }
    }

    &__title {
        height: 52px;
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        color: #009EE4;
        margin-bottom: 10px;
        margin-top: 20px;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price {
        color: #000000;
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
        margin-bottom: 10px;
    }

    &__place,
    &__date {
        font-size: 16px;
        line-height: 21px;
        color: #5F5F5F;
    }
    &__place {
        margin-bottom: 4px;
    }
}


// ================== footer ====================================

.footer {
    display: none;
}

// ================== Медиа ====================================

@media screen and (max-width: 1158px) {
    .cards {            
            display: grid;
            grid-template-columns: repeat(3, 270px);
            
    }
}
@media screen and (max-width:890px) {

    .profile-sell {
    
            &__content {
                max-width: 834px;
                width: 100%;
            }
    
    
            &__seller {                
                flex-wrap: wrap;
                
            }
        }
    
    .cards {        
        display: grid;
        grid-template-columns: repeat(2, 270px);

    }

        
}


@media screen and (max-width: 580px) {
    .container {
        width: 100%;
        min-width: 320px;
        
    }

    .header {
        width: 100%;
        height: 55px;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 3;

        &__nav {
            height: 55px;
            justify-content: start;
            padding: 0 20px;
        }

        &__btn-lk,
        &__btn-putAd {
            display: none;
        }

        &__logo {
            display: block;
        }
    }

    .logo-mob {

        &__link {
            display: block;
            width: 32px;
            height: 32px;
        }

        &__img {
            width: 32px;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }

    .main {

        &__container {
            padding: 85px 0px 84px;
        }

        &__center-block{
        margin: 0 auto;
        padding: 0 20px;
    }

        &__menu {
            display: none;            
        }


        &__h2 {
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            padding: 0 0 0 26px;
            margin-bottom: 20px;

            position: relative;

            &::before {
                content: "";
                display: block;
                width: 12px;
                height: 12px;
                background-color: transparent;
                border-top: 2px solid #000000;
                border-left: 2px solid #000000;
                transform: rotate(-45deg);
                position: absolute;
                top: 9px;
                left: 0;
                cursor: pointer;
            }
        }

        &__profile-sell {
            width: 100%;
            padding: 0 0 40px;
        }

        &__title {
            font-size: 18px;
            line-height: 1;
            margin-bottom: 30px;


        }

        &__content {
            width: 100%;
            margin: 0 auto;

        }

    }

    .profile-sell {

        &__content {
            max-width: 100%;
            width: 100%;
        }


        &__seller {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .seller {

        &__left {
            display: none;

            margin-right: 0px;
        }

        &__img {
            display: none;

        }

        &__img-mob-block {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 20px 0;
        }

        &__img-mob {
            display: block;
            width: 132px;
            height: 132px;
            border-radius: 50%;
            background-color: #F0F0F0;

            & img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }

        }



        &__right {
            width: 100%;
        }

        &__title {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 6px;

        }



        &__inf,
        &__city {
            font-size: 16px;
            line-height: 21px;
            color: #5F5F5F;
            margin-bottom: 6px;
        }




        &__btn {

            width: 100%;
            height: 57px;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;

            & span {
                font-size: 12px;
            }

        }

    }


    .cards {
        display: grid;
        grid-template-columns: repeat(2, 137px);
        grid-auto-rows: 293px;
        grid-gap: 10px 10px;
        justify-content: center;
        height: 596px;
    }

    .cards {

        &__item {
            margin: 0;
        }

        &__card {
            width: 137px;
            height: 293px;
            display: flex;
            flex-direction: column;

        }

    }

    .card {

        &__image {
            width: 137px;
            height: 132px;
            background-color: #D9D9D9;

            & img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }

        &__title {
            height: 51px;
            font-size: 14px;
            line-height: 17px;
            color: #009EE4;
            margin-bottom: 10px;
            margin-top: 10px;

        }

        &__price {
            font-size: 16px;
            line-height: 24px;
        }

        &__place,
        &__date {
            font-size: 12px;
            line-height: 16px;
            color: #5F5F5F;
        }
    }



    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;
        width: 100%;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);

        &__container {
            width: 225px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__img {
            width: 42px;
            height: 42px;

            & img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }
    }

}

